Review the data and the schema

In [2]:
SELECT TOP (1000) [Parent]
      ,[Child]
      ,[BirthYear]
  FROM [data_science].[Parents].[ParentOf]

Parent,Child,BirthYear
Alice,Carol,1945
Bob,Carol,1945
Carol,Dave,1970
Carol,George,1972
Dave,Mary,2000
Eve,Mary,2000
Mary,Frank,2000

Find the parents of Frank, then the parents of the parents until there are no more

In [5]:
use data_science;
go

with Ancesstor as (Select Parent as p from [Parents].[ParentOf] where Child='Frank'

                    UNION ALL

                   SELECT Parent from Ancesstor, [Parents].[ParentOf]

                   WHERE Ancesstor.p = [Parents].[ParentOf].Child)

SELECT * FROM Ancesstor;

p
Mary
Dave
Eve
Carol
Alice
Bob

In [8]:
WITH Descendant
AS (
    SELECT parent + ' -> ' + child as lineage, child as c, birthyear, 0 as parentAge
    FROM [Parents].[ParentOf] WHERE parent = 'Alice'

    UNION ALL

    SELECT parent + ' -> ' + child as lineage, child as c, [Parents].[ParentOf].birthyear, [Parents].[ParentOf].birthyear - Descendant.birthyear
    FROM Descendant, [Parents].[ParentOf]
    WHERE Descendant.c = [Parents].[ParentOf].parent
    )

SELECT lineage, birthYear, parentAge from Descendant

lineage,birthYear,parentAge
Alice -> Carol,1945,0
Carol -> Dave,1970,25
Carol -> George,1972,27
Dave -> Mary,2000,30
Mary -> Frank,2020,20